<div class="flex">
  <%= render 'layouts/h1', title: "タグ一覧" %>
  <div class="flex-1"></div>
  <%= link_to '新規作成', new_tag_path, class: "my-auto text-white bg-red-400 rounded p-2" %>
</div>

<%= render @tags %>
