.overdue_mark{
          color: #f00;
          font-size: 18px;
          text-align: right;
}

.ongoing_mark{
          color: #008000;
          font-size: 18px;
          text-align: right;
}

.dropdown-menu{
          background-color: #FFF5EE;
          padding: 5px 5px 5px 5px;
          border: 1pt solid #000000;
}
