<div class="border mx-auto p-3">
  <p class="font-bold text-xl mb-3">タグ一覧</p>
    <% if logged_in? %>
      <div class="flex flex-wrap gap-0.5">
        <% Tag.order_by_popularity.each do |tag| %>
          <%= link_to tag_label(tag), tag %>
        <% end %>
      </div>
    <% end %>
</div>
