<div class="border mx-auto p-3 overflow-x-hidden">
  <p class="font-bold text-xl mb-3">タグ一覧</p>
  <div class="flex flex-wrap gap-0.5">
    <% Tag.order_by_popularity.each do |tag| %>
      <%= link_to tag_label(tag), tag %>
    <% end %>
  </div>
</div>
