<div class="sticky top-16 border mx-auto p-3">
  <p class="font-bold text-xl mb-3">タグ一覧</p>
  <ul class="overflow-y-scroll max-h-96">
    <% Tag.all.sort_by{|tag| tag.documents.count + tag.tasks.count}.reverse_each do |tag| %>
      <li class="my-px"><%= link_to tag_label(tag), tag %></li>
    <% end %>
  </ul>
</div>
